/* Основні стилі для сторінки */
body {
    font-family: 'Arial', sans-serif;
    background-color: #894628;
    margin: 0;
    padding: 0;
}

header {
    background-color: #593021; 
    color: #7c4028;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: #7a4029;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

section.hidden {
    transform: translateY(100%);
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu-list li {
    width: 30%;
    padding: 10px;
    border: 1px solid #7a4029;
    border-radius: 5px;
    text-align: center;
    background-color: #713a2a;
    transition: transform 0.3s ease-in-out;
}

.menu-list li:hover {
    transform: scale(1.05);
}

.menu-list img {
    max-width: 100%;
}

footer {
    background-color: #58312a;
    color: #713a2a;
    padding: 80px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#menu-text {
    background-color: #7a4029;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.hidden {
    transform: translateY(100%);
}
section {
    background-color: #7a4029;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%); 
}


section:not(.hidden) {
    transform: translateY(0);
}

/* Стилі для кнопок */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7a4029;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #894628;
}

.button:active {
    background-color: #58312a;
}